.contenedor-galeria {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contenedor-galeria a {
    margin: .4em;
}

.contenedor-galeria a img {
    height: 300px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
    transition: all .4s ease;
}

.contenedor-galeria a img:hover{
    transform:translateY(-1%);
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.8);
}



@media screen and (max-width:700px){
    .contenedor-galeria a img {
        height: 200px;
    }
}
