.contenedor-galeria {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contenedor-galeria a {
    margin: .4em;
}

.contenedor-galeria a img {
    height: 300px;
    border: #000 solid 3px;
}


