@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

body {
    background: url(../images/fondo-manga.jpg) fixed;
}

.cabecera,
.logo-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
}

#menu{
    display: none;
}

#cerrar {
    display: none;
}

.btn-responsive{
    padding: 1em;
    background-color: rgb(255, 178, 0);
    font-weight: bold;
    transition: color .2s ease;
    transition: background .2s ease;
}

.btn-responsive:hover{
    color: rgb(255, 178, 0);
    background-color: #000;
}

.logo-nav img {
    width: 100%;
}

.logo-nav a {
    width: 11%;
}



.navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 100%;
}

.navegacion ul {
    list-style: none;
}

.navegacion ul li {
    display: inline-block;
    padding: 16px;
    margin: 0 16px;
}

.navegacion ul li a {
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    transition: color .2s ease;
}

.navegacion ul li a:hover {
    color: rgb(255, 178, 0);
}

.navegacion .submenu .childs {
    display: none;
    background-color: #000;
    position: absolute;
}

.navegacion ul li:hover .childs {
    display: flex;
    flex-direction: column;
}



.portada {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.portada h1 {
    font-size: 15rem;
    font-weight: bold;
}

.bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    min-height: 50vh;
}

.bienvenida h2 {
    font-size: 8rem;
}

.bienvenida p {
    font-size: 1.2rem;
    text-align: center;
}

.contenido-destacado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em 0em;
    width: 100%;
}

.contenido-destacado h2 {
    font-size: 9rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.acerca-de {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    min-height: 50vh;
    width: 100%;
}

.acerca-de h3 {
    font-size: 3em;
    margin: .6em;
}

.acerca-de p {
    font-size: 1.4em;
    font-weight: 400;
    margin: 1.4em 0;
}

.btn {
    display: block;
    padding: 1em;
    width: 200px;
    background-color: #000;
    color: rgb(255, 178, 0);
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.6em;
    transition: color .2s ease;
    transition: background .2s ease;
}

.btn:hover {
    background-color: rgb(255, 178, 0);
    color: #000;
}

strong a {
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid rgb(255, 178, 0);
}

strong a:hover {
    color: rgb(255, 178, 0);
}

.contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3em 1.4em;
    width: 90%;
}

.contenedor h3 {
    font-size: 3rem;
    font-weight: 700;
}

.contenedor-cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin: .5em 1.2em;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
    transition: all .3s ease;
}

.card:hover {
    transform:translateY(-1%);
    box-shadow: 0px 1px 7px 2px rgba(0, 0, 0, 0.7)
}

.card-img a img {
    width: 100%;
}

.card-img a {
    width: 20%;
}

.card-contenido {
    width: 100%;
    text-align: left;
    justify-content: left;
}

.card-contenido h3 {
    font-size: 1.8em;
}

.card-contenido p {
    font-size: 1.2em;
}

.card-contenido a {
    font-size: 1.3em;
    color: #000;
    transition: color .3s ease;
}

.card-contenido a:hover {
    color: rgb(255, 178, 0);
}

.arco-titulo h3 {
    font-size: 4em;
    margin-bottom: 1em;
}

.personajes-titulo h3 {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

.contenedor-gal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    margin-top: 6em;
}

.contenedor-gal h3 {
    font-size: 5em;
    margin: .3em 0;
}

.contenedor-gal p {
    font-size: 1.4em;
    font-weight: 400;
    margin: 1.4em 0;
}

.galeria-imagenes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.galeria-imagenes img {
    height: 300px;
    margin: .2em .4em;
    transition: transform .3s ease;
}

.galeria-imagenes img:hover{
    transform: translateY(-2%);
}

footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fff;
    width: 100%;
    margin-top: 12em;
}
 

.copy-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copy-footer img {
    width: 60%;
    margin: 1em 0;
}

.redes-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-footer img {
    max-width: 1.5rem;
    margin: .3em;
}

.nav-footer {
    display: flex;
    flex-direction: column;
}

footer > div {
    padding: 1em;
}


@media screen and (max-width:1550px) {
    .portada h1 {
        font-size: 13rem;
    }

    .bienvenida h2 {
        font-size: 6rem;
    }

    .bienvenida p {
        font-size: 1.1rem;
    }

    .contenido-destacado h2 {
        font-size: 6rem;
    }

    .contenido-destacado > p {
        font-size: 2.6rem;
    }

    .logo-nav a {
        width: 14%;
    }
}


@media screen and (max-width:1240px) {

    .portada h1 {
        font-size: 10rem 
    }

    .bienvenida p {
        font-size: 1rem;
    }

    .acerca-de p {
        font-size: 1.2rem;
    }

    
}

@media screen and (max-width:1140px) {
    
    #menu {
        display: block;
        margin: 1em;
    }

    #cerrar {
        display: block;
        font-size: .9rem;
    }

    .logo-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-nav a {
        width: 20%;
        margin: 1em;
    }

    .logo-nav {
        flex-direction: row;
        justify-content: space-between;
    }
    .navegacion {
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        align-items: end;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
        width: auto;
    }

    .navegacion.visible {
        opacity: 1;
        visibility: visible;
    }

    .navegacion ul li {
        display: block;
    }

    .childs > li {
        font-size: 1rem;
    }

    .navegacion ul li a{
        font-size: 1.5em;
    }

    .navegacion .submenu .childs {
        right: 100%;
        width: 120%;
    }

}


@media screen and (max-width:1000px) {
    
    .portada h1 {
        font-size: 8rem 
    }

    .bienvenida h2 {
        font-size: 5rem;
    }

    .bienvenida {
        padding: 1em;
    }

    .contenido-destacado h2 {
        font-size: 4rem;
    }

    .acerca-de h3 {
        font-size: 2rem;
    }
    .acerca-de {
        padding: 1em;
    }
}

@media screen and (max-width:870px) {
    
    .bienvenida h2 {
        font-size: 4.5rem;
    }
    .galeria-imagenes img {
        height: 200px;
    }
    .contenedor-gal {
        padding: 1em;
    }

    footer {
        flex-direction: column;
    }

    footer > div {
        margin: 2em 0;
    }

}

@media screen and (max-width:760px) {

    .portada h1 {
        font-size: 6rem 
    }
    .bienvenida h2 {
        font-size: 4rem;
    }

    .acerca-de h3 {
        font-size: 1.5rem;
    }

    .arco-titulo h3 {
        font-size: 3rem;
    }

 


}

@media screen and (max-width:675px) {
    
    .bienvenida h2 {
        font-size: 3rem;
    }

    .acerca-de h3 {
        font-size: 1.4rem;
    }

    .contenido-destacado h2 {
        font-size: 3rem;
    }

  
}

@media screen and (max-width:600px) {
    .portada h1 {
        font-size: 5rem 
    }

    .arco-titulo h3 {
        font-size: 2rem;
    }

    .personajes-titulo h3 {
        font-size: 3rem;
    }

    .logo-nav a {
        width: 30%;
    }

    .acerca-de a img {
        height: 300px;
    } 

    .contenedor-gal p {
        font-size: 1.1em;
    }

}

@media screen and (max-width:510px){
    .portada h1 {
        font-size: 4rem 
    }

    .bienvenida h2 {
        font-size: 2rem;
    }

    .contenido-destacado h2 {
        font-size: 2.2rem;
    }

    .galeria-imagenes img {
        height: 180px;
    }

    
}
